extends ../../layouts/default

block content
    .container
        h1 Серверная ошибка (500)
        p К сожалению, произошла непревиденная ошибка на сервере.
        p
            | Если вы видите эту страницу продолжительное время,
            | сообщите нам об этом на 
            a(href='mailto:contact@t-service.su') электронную почту.
