#body {
    background: url('/images/services-background.png') no-repeat center 0;
    min-height: 600px;

    .container {
        width: 960px !important;
        padding: 0;

        h1 {
            color: #fff;
            font-size: 30px;
            line-height: 30px;
            font-weight: bold;
            letter-spacing: .1em;
            font-family: Arial, sans-serif;
            text-shadow: 0 1px 2px #000;
            margin-top: 60px;
            margin-bottom: 26px;
        }

        h2 {
            color: #fff;
            font-size: 22px;
            letter-spacing: .04em;
            font-family: Arial, sans-serif;
            text-shadow: 0 1px 2px #000;
            margin-top: 0;
            margin-bottom: 12px;
            margin-left: 10px;
        }
    }

    .layout__left {
        width: 400px;
        display: table-cell;
        padding-right: 10px;
    }

    .layout__right {
        display: table-cell;
        vertical-align: top;
        width: 560px;
    }

    .services-list {
        padding-left: 0;
        margin-left: 10px;
        list-style: none;
        font-family: Arial, sans-serif;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: .04em;
        text-shadow: 0 1px 2px #000;

        a {
            color: #fff;

            &:hover, &:focus, &:active {
                outline: none;
                text-decoration: none;
                color: #f2f2f2;
            }
        }

        .services-list__item.active a {
            background-color: #f0bd24;
            color: #000;
            text-shadow: none;
            margin-left: -10px;
            padding: 2px 10px;
        }
    }

    .affix-sticky.affix {
        top: 26px;
    }

    .affix-bottom {
        position: absolute !important;
    }

    .services {
        margin-top: 116px;

        .service {
            width: 100%;
            padding: 10px;
            background-color: rgba(241, 241, 241, .8);
            margin-bottom: 4px;
            box-shadow: 0 5px 5px 0 #000;
            position: relative;

            &.active {
                background-color: rgba(241, 241, 241, 0.85);
            }
        }

        .title {
            font-family: Arial, sans-serif;
            font-size: 18px;
            line-height: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 6px;
            padding-left: 2px;
        }

        .description, table {
            font-family: Arial, sans-serif;
            font-size: 14px;
            letter-spacing: .04;
            margin-top: 6px;
        }

        table {
            margin-top: 14px;
        }

        td {
            padding-right: 40px;
            padding-bottom: 14px;
            vertical-align: top;
        }

        .img {
            width: 540px;
            height: 300px;
        }

        .img-shadow {
            box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .9);
            position: absolute;
            width: 540px;
            height: 300px;
            top: 38px;
        }

        .price {
            position: absolute;
            right: 0;
            top: 312px;
            padding: 6px 10px;
            background-color: #f0bd24;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .75);
            font-family: Verdana, sans-serif;
            font-size: 18px;
            line-height: 18px;
            word-spacing: -.2em;

            .unit {
                font-size: 14px;
                font-style: italic;
                margin-left: .2em;
            }
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    .underhead-menu {
        height: 30px;
        overflow: hidden;
        background-color: #2e2e2e;
        font-family: Arial, sans-serif;
        font-size: 12px;
        line-height: 30px;
        letter-spacing: .02em;

        .categories-list__wrapper {
            margin: 0 auto;
            width: 960px;
        }

        .categories-list {
            margin-left: 160px;
            margin-bottom: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                margin-left: 20px;

                &.active {
                    a {
                        color: #f0bd24;
                        cursor: default;

                        &:hover, &:focus, &:active {
                            text-decoration: none;
                            outline: none;
                        }
                    }
                }
            }

            a {
                color: #fff;

                &:hover, &:focus, &:active {
                    text-decoration: underline;
                    outline: none;
                }
            }
        }
    }
}